{% extends 'base.html.twig' %}

{% block title %}{{ movie.name }}{% endblock %}

{% block body %}

    <div class="d-flex flex-lg-row flex-column-reverse justify-content-between p-3">
        <div>
            <h1 class="d-inline">{{ movie.name }}</h1>
            <br>
            <div class="d-flex flex-column flex-wrap">
                <div class="m-2">
                        <ul>
                            {% if movie.releaseDate %}
                            <li data-toggle="tooltip" data-placement="top" title="{{ movie.releaseDate|age }}">
                                <strong>Date de sortie : </strong>{{ movie.releaseDate|dateFNoDay }}
                            </li>
                            {% endif %}
                            <li>
                                <strong>Date de visionnage : </strong>{{ movie.showDate|dateFNoDay }}
                            </li>
                            <li>
                                <strong>Durée : </strong>{{ movie.duration|MsToHM }}
                            </li>
                        </ul>
                </div>
                <div class="m-2">
                    <strong>Genres : </strong>
                    <ul>
                        {% for genre in movieGenres %}
                            <li>{{ genre.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <a class="btn btn-primary" href="{{path('movie')}}">Retour</a>
        </div>
        <img {% if movie.artwork %} src="{% if app.environment == "dev" %}{{ movie.artwork|replace({'/public': ''}) }}{% else %}{{ movie.artwork }}{% endif %}" alt="{{ movie.name }} poster" {% else %} src="/image/visuel-a-venir.jpg" alt="Visuel à venir" {% endif %}
                width="300px" data-bs-toggle="modal" data-bs-target="#imageModal" class="cursor-click">
    </div>

    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Image en Plein Écran</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center" style="overflow: hidden;">
                    <img {% if movie.artwork %} src="{% if app.environment == "dev" %}{{ movie.artwork|replace({'/public': ''}) }}{% else %}{{ movie.artwork }}{% endif %}" alt="{{ movie.name }} poster" {% else %} src="/image/visuel-a-venir.jpg" alt="Visuel à venir" {% endif %}
                            style="max-height: calc(100vh - 50px); width: auto; max-width: 100%;">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    <script>
        $(document).ready(function(){
            if ('ontouchstart' in document.documentElement) {
                $('[data-toggle="tooltip"]').on('click', function () {
                    $(this).tooltip('show');
                });
            } else {
                $('[data-toggle="tooltip"]').tooltip();
            }
        });
    </script>

{% endblock %}