{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">Nom</th>
            {# <th>Heure de début</th> #}
            <th scope="col">Heure de visionnage</th>
        </tr>
        </thead>

        {% set sortedDateKeys = dateKeys|sort %}
        {% set globalDuration = 0 %}
        {% set currentDate = "now"|date("Y-m-d") %}
        {% set startOfYear = currentDate|date("Y-01-01") %}
        {% set daysSinceStartOfYear = currentDate|date_modify('-' ~ startOfYear|date("U") ~ ' seconds')|date("z") + 1 %}
        
        {% for dateKey in sortedDateKeys %}
        <tbody>
            {% set date = dateKey|date("d/m/Y") %}
            {% set dateShow = dateKey|date("Y/m/d") %}
            {% set duration = [] %}

            {% for key, movies in moviesByDate %}
                {% set currentDuration = 0 %}

                {% for movie in movies %}
                    {% set globalDuration = globalDuration + movie.duration %}
                    {% set currentDuration = currentDuration + movie.duration %}
                    
                {% endfor %}

                {% set duration = duration|merge({(key): currentDuration}) %}

            {% endfor %}
            <tr class="table-secondary">
                <th colspan="4" {# OnClick="displayRow({{dateKey|date('U')}})" #}>
                    {{ dateShow|dateF }}
                    - {{ duration[dateKey]|MsToHM }} de visionnage
                </th>
            </tr>
        </tbody>
        <tbody id="row{{dateKey|date('U')}}" {# class="d-none" #}>
            {% set prev = 0 %}
            <div>
            {% for movie in moviesByDate[dateKey]|sort((a, b) => a.showDate <=> b.showDate) %}
                <tr>
                    <td>{{ movie.name }}</td>
                    {# <td>{{ movie.showDate|date_modify('-' ~ (90 / 100) * movie.duration ~ ' milliseconds')|date("H\\hi") }}</td> #}
                    <td>{{ movie.showDate|date("H\\hi") }}</td>
                </tr>
            {% endfor %}
            </div>
        </tbody>
        {% endfor %}
    </table>

<div class="ms-3">
    <p>{{ (globalDuration / daysSinceStartOfYear)|MsToHM }} de visionnage en moyenne par jour
</div>
{% endblock %}
