{% extends 'base.html.twig' %}

{% block title %}Ajouter un manga{% endblock %}

{% block body %}

    <div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
        <div class="card w-50">
            <div class="card-header">
                {{form_title}}
            </div>
            <div class="card-body">{{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.releaseDate) }}
                {{ form_row(form.endDate) }}
                {{ form_row(form.nbTomes) }}
                {{ form_row(form.type) }}
                <label class="my-2">{{ form_label(form.genres) }}</label>
                <div class="col-12 d-flex flex-row flex-wrap">
                    {{ form_widget(form.genres) }}
                </div>
                <label class="my-2">{{ form_label(form.themes) }}</label>
                <div class="col-12 d-flex flex-row flex-wrap">
                    {{ form_widget(form.themes) }}
                </div>
                {{ form_row(form.author) }}
                {{ form_row(form.designer) }}
                {{ form_row(form.editor) }}
                {{ form_end(form) }}
                <a class="btn btn-secondary mt-1" href="{{ path('manga') }}">Retour</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            $('.select2').select2({
                placeholder: "Ajouter un ou plusieurs genres",
                allowClear: true,
                closeOnSelect: false
            });
        });
    </script>
{% endblock %}