{% extends 'base.html.twig' %}

{% block title %}{{ manga.name }}{% endblock %}

{% block body %}
    <h1>{{ manga.name }}</h1>

    <ul>
        <li><strong>Date de sortie</strong> : {{ manga.releaseDate|dateFNoDay }}</li>
        {% if manga.designer %}
            <li><strong>Scénariste</strong> : {{ manga.author.name }}</li>
            <li><strong>Dessinateur</strong> : {{ manga.designer.name }}</li>
        {% else %}
            <li><strong>Auteur</strong> : {{ manga.author.name }}</li>
        {% endif %}
        <li><strong>Editeur</strong> : {{ manga.editor.name }}</li>
        <li><strong>Type</strong> : {{ manga.type.name }}</li>
    </ul>
    <br>
    <div class="d-flex flex-row flex-wrap">
        <div class="m-2">
            <strong>Genres : </strong>
            <ul>
                {% for genre in manga.genres %}
                    <li>{{ genre.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="m-2">
            <strong>Thèmes : </strong>
            <ul>
                {% for theme in manga.themes %}
                    <li>{{ theme.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <table class="table table-hover table-striped table-bordered littleFont">
        <thead>
        <tr class="col-12">
            <th scope="col" class="col-2">Nom</th>
            <th scope="col" class="d-lg-table-cell d-none col-2">Nombre de page</th>
            <th scope="col" class="col-2">Sortie le</th>
            <th scope="col" class="col-2">Commencer le</th>
            <th scope="col" class="col-2">Finit le</th>
            <th scope="col" class="col-2">Image</th>
        </tr>
        </thead>
        <tbody>
        {% set checkRead = "ok" %}
        {% for tome in manga.mangaTomes %}
            <tr class="col-12">
                <td class="col-2"><a class="text-decoration-none text-black"
                                     href="{{ path('manga_tome_edit', {'id': tome.id}) }}">Tome {{ tome.tomeNumber }}</a>
                </td>
                <td class="d-lg-table-cell d-none">{{ tome.page }} pages</td>
                <td>{{ tome.releaseDate|dateFNoDay }}</td>
                {% if tome.readingStartDate %}
                    <td>{{ tome.readingStartDate|dateF }}</td>
                    <td class="position-relative">
                        {% if tome.readingEndDate %}
                            {{ tome.readingEndDate|dateF }}
                        {% else %}
                            {% set checkRead = null %}
                            <p>En cours</p>
                            <a href="{{ path('manga_tome_read', {'id': tome.id}) }}"
                               class="position-absolute bottom-0 mb-2 btn btn-primary littleBtn">Terminer</a>
                        {% endif %}
                    </td>
                {% else %}
                    <td class="position-relative">
                        {% if checkRead != null and "now"|date('U') > tome.releaseDate|date('U') %}
                            <a href="{{ path('manga_tome_start', {'id': tome.id}) }}"
                               class="center-button btn btn-primary littleBtn text-center p-2">
                                Commencer
                            </a>
                        {% endif %}
                    </td>
                    <td>
                    </td>
                {% endif %}
                <td>
                    {% if tome.cover %}
                        <img {% if tome.cover %} src="{% if app.environment == "dev" %}{{ tome.cover|replace({'/public': ''}) }}{% else %}{{ tome.cover }}{% endif %}" alt="{{ tome.tomeNumber }} poster" {% else %} src="/image/visuel-a-venir.jpg" alt="Visuel à venir" {% endif %}
                                width="150px" data-bs-toggle="modal" data-bs-target="#imageModal"
                                class="cursor-click img-modal-trigger"
                                data-img-url="{% if app.environment == "dev" %}{{ tome.cover|replace({'/public': ''}) }}{% else %}{{ tome.cover }}{% endif %}">
                    {% endif %}
                </td>
            </tr>
            {% if tome.readingEndDate is null %}
                {% set checkRead = null %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Image en Plein Écran</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="imageModal" class="modal-body text-center" style="overflow: hidden;">
                    <img src="" style="max-height: calc(100vh - 50px); width: auto; max-width: 100%;">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('.img-modal-trigger').click(function () {
                var imgUrl = $(this).data('img-url');
                $('#imageModal img').attr('src', imgUrl);
            });
        });
    </script>
{% endblock %}
