{% extends 'base.html.twig' %}

{% block title %}Manga{% endblock %}

{% block body %}
    <div id="divList" class="col-12 d-flex flex-row justify-content-between flex-wrap">
        {% for manga in mangas %}
            {% set image = infoImageManga(manga.info, manga.firstTomeCover, app.environment) %}
            <div class="cursor-click container col-lg-2 col-4 px-3 my-4 d-flex flex-column"
                 onclick="openDetail('{{ path('manga_details', {'id': manga.info.id}) }}')" data-bs-toggle="tooltip"
                 data-bs-placement="bottom" data-bs-html="true" title="{{ manga.tooltip }}">
                <img class="rounded mx-auto d-block img-manga" src="{{ image.path }}" width="150px"
                     alt="{{ image.alt }}">
                <p class="text-center">{{ manga.info.name }}<br>({{ manga.tomeRead }} / {{ manga.tomeRelease }})</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}

    <script>

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        function openDetail(href) {
            window.location = href;
        }
    </script>

{% endblock %}
