{% extends 'base.html.twig' %}

{% block title %}Manga{% endblock %}

{% block body %}
            <table id="tableManga" class="table table-hover table-striped table-bordered tablesorter littleFont">
        <thead>
        <tr class="col-12">
            <th scope="col" class="col-3">Nom</th>
            <th scope="col" class="col-2">Tome lu</th>
            <th scope="col" class="col-2">Auteur</th>
            <th scope="col" class="col-2">Éditeur</th>
            <th scope="col" class="col-3">Date de publication</th>
        </tr>
        </thead>
        <tbody>
    {% for manga in mangas %}
            <tr class="clickable-row cursor-click" data-href="{{ path('manga_details', {'id': manga.info.id}) }}">
                <td>{{ manga.info.name }}</td>
                <td >{{ manga.tomeRead }} / {{ manga.tomeRelease }}</td>
                <td>{{ manga.info.author.name }}</td>
                <td>{{ manga.info.editor.name }}</td>
                <td>{{ manga.info.releaseDate|dateFNoDay }} - {% if manga.info.endDate %} {{ manga.info.endDate|dateFNoDay }} {% else %} En cours {% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
<script>

    jQuery(document).ready(function($) {
    $(".clickable-row").click(function () {
        window.location = $(this).data("href");
    });

    $("#tableManga").trigger('update').tablesorter({
        'resort': true
        });
});

</script>
{% endblock %}
