{% extends 'base.html.twig' %}

{% block title %}{{ artist.name }}{% endblock %}

{% block body %}

    <div class="d-flex flex-lg-row flex-column-reverse justify-content-between p-3">
        <div>
            <h1 class="d-inline">
                {{ artist.name }}
            </h1>
            <br>
            <div class="d-flex flex-column flex-wrap">
                <div class="m-2">
                    <ul>
                        <li>
                            <strong>Temps d'écoute total
                                : </strong>{% if listen %}{{ listen|MsToMS }}{% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <a class="btn btn-primary" href="{{ path('music_artists') }}">Retour</a>
        </div>
    </div>

    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Musique</th>
            <th scope="col">Artiste</th>
            <th scope="col">Durée</th>
            <th scope="col">Tag</th>
        </tr>
        </thead>
        <tbody>
        {% for music in artist.music %}
            <tr>
                <td>
                    <a class="text-decoration-none text-black"
                       href="{{ path('music_details', {'id': music.id}) }}">{{ music.name }}</a></td>
                <td>{{ music.musicArtist.name }}</td>
                <td>{% if music.duration %}{{ music.duration|MsToMS }}{% endif %}</td>
                <td>
                    {% for musicTags in music.musicTags %}
                        <a class="text-decoration-none text-black"
                           href="{{ path('music_tags_details', {'id': musicTags.id}) }}">{{ musicTags.name }}</a>
                        {% if loop.last == false %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}