{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1 class="text-center mt-4 title">MyTracker</h1>

    <div id="divInfo" class="d-lg-flex flex-lg-row justify-content-lg-around mt-lg-12 mt-5">
    </div>
    <div class="col-12 d-flex flex-row">
        <div id="loadSpin" class="card-body py-1 py-lg-0">
            <div class="d-flex justify-content-center align-items-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="d-lg-flex flex-lg-row justify-content-lg-around mt-lg-12 mt-5">
        <div class="card col-12 col-lg-11">
            <div class="card-header d-flex justify-content-center">
                <p class="my-2">Sortie du jour</p>
            </div>
            <div class="card col-12">
                <div class="card-body p-0 col-12 d-flex flex-row justify-content-between flex-wrap">
                    {% for serie in releaseToday %}
                        {% set image = infoImage(serie, app.environment) %}
                        <div class="cursor-click container col-lg-2 col-4 px-3 my-4 d-flex flex-column"
                             onclick="openDetail('{{ path('serie_detail', {'id': serie.id}) }}')">
                            <img class="rounded mx-auto d-block" src="{{ image.path }}" width="150px"
                                 alt="{{ image.alt }}">
                            <p class="text-center">{{ serie.name }}</p>
                        </div>
                    {% else %}
                        <p>Aucune sortie aujourd'hui</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    <script>

        $.ajax({
            url: "{{ path('home_info') }}",
            method: "POST",
            success: function (data) {
                $("#divInfo").html(data);
                $('#loadSpin').addClass('d-none');
            }
        })

        function changeDate(count) {

            $("#divInfo").html('');
            $('#loadSpin').removeClass('d-none');

            $.ajax({
                url: "{{ path('home_info') }}",
                method: "POST",
                data: {
                    'count': count,
                },
                success: function (data) {
                    $("#divInfo").html(data);
                    $('#loadSpin').addClass('d-none');
                }
            })
        }

        function openDetail(href) {
            window.location = href;
        }

    </script>

{% endblock %}
