{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">Série</th>
            <th scope="col">Épisode</th>
            <th scope="col">Nom de l'épisode</th>
            <th scope="col">Heure de visionnage</th>
        </tr>
        </thead>
        <tbody>
            <tr class="table-secondary">
                <th colspan="4">{{ dateShow|dateF }} - {{ duration[dateKey]|MsToHM }} de visionnage</th>
            </tr>
            {% for episode in episodesByDate[dateKey]|sort((a, b) => a.showDate <=> b.showDate) %}
                <tr>
                    <td>{{ episode.serie.name }}</td>
                    <td>Saison {{ episode.saisonNumber }}, Épisode {{ episode.episodeNumber }}</td>
                    <td>{{ episode.name }}</td>
                    <td>{{ episode.showDate|date("H\\hi") }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <p>{{ averageDuration|MsToHM }} de visionnage en moyenne par jour</p>

{% endblock %}