{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="d-lg-flex flex-lg-row justify-content-lg-around mt-lg-12 mt-3">
        <div class="card col-12 col-lg-3">
            <div class="card-header">
                <p>Temps passé sur Plex</p>
            </div>
            <div class="col-12 d-flex flex-row">
                <div class="card col-6">
                    <div class="card-header">
                        <p>Cette année</p>
                    </div>
                    <div class="card-body">
                        <p>{{ yearTime|MsToHM }}</p>
                    </div>
                </div>
                <div class="card col-6">
                    <div class="card-header">
                        <p>Au total</p>
                    </div>
                    <div class="card-body">
                        <p>{{ globalTime|MsToHM }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-12 col-lg-3 mt-4 mt-lg-0">
            <div class="card-header">
                <p>Nombre de tome lu</p>
            </div>
            <div class="col-12 d-flex flex-row">
                <div class="card col-6">
                    <div class="card-header">
                        <p>Cette année</p>
                    </div>
                    <div class="card-body">
                        <p>{{ countReadingTomeYear }}</p>
                    </div>
                </div>
                <div class="card col-6">
                    <div class="card-header">
                        <p>Au total</p>
                    </div>
                    <div class="card-body">
                        <p>{{ countReadingTome }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-12 col-lg-3 mt-4 mt-lg-0">
            <div class="card-header">
                <p>Nombre de jeux finit / Nombre de jeux finit à 100%</p>
            </div>
            <div class="col-12 d-flex flex-row">
                <div class="card col-6">
                    <div class="card-header">
                        <p>Cette année</p>
                    </div>
                    <div class="card-body">
                        <p>{{ countGameEndYear }} / {{ countGameFullEndYear }}</p>
                    </div>
                </div>
                <div class="card col-6">
                    <div class="card-header">
                        <p>Au total</p>
                    </div>
                    <div class="card-body">
                        <p>{{ countGameEnd }} / {{ countGameFullEnd }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="divInfo" class="d-lg-flex flex-lg-row justify-content-lg-around mt-lg-12 mt-5">
    </div>
    <div class="col-12 d-flex flex-row">
        <div id="loadSpin" class="card-body py-1 py-lg-0">
            <div class="d-flex justify-content-center align-items-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    <script>

        $.ajax({
            url: "{{ path('home_info') }}",
            method: "POST",
            success: function (data) {
                $("#divInfo").html(data);
                $('#loadSpin').addClass('d-none');
            }
        })

        function changeDate(count){

            $("#divInfo").html('');
            $('#loadSpin').removeClass('d-none');

            $.ajax({
                url: "{{ path('home_info') }}",
                method: "POST",
                data: {
                    'count': count,
                },
                success: function (data) {
                    $("#divInfo").html(data);
                    $('#loadSpin').addClass('d-none');
                }
            })
        }

    </script>

{% endblock %}
