<div class="card col-12 col-lg-11">
    <div class="card-header d-flex justify-content-between">
        <i class="material-icons d-flex align-items-center cursor-click" onclick="changeDate({{ previous }})">arrow_back_ios</i>
        <p class="my-2">Information du {{ date }}</p>
        <i class="material-icons d-flex align-items-center {% if next > 0 %} user-select-none{% else %} cursor-click {% endif %}" {% if next <= 0 %} onclick="changeDate({{ next }})" {% endif %}>arrow_forward_ios</i>
    </div>
    <div class="card col-12">
        <div class="card-body p-0">
            {% for update in updateByDate %}
                <p class="border-bottom m-0 p-2 d-flex align-items-center">
                    {% set serie_link = '<a class="text-decoration-none text-black" href="' ~ path('serie_detail', {id: update.serie.id}) ~ '">' ~ update.serie.name ~ '</a>&nbsp;' %}

                    {% if update.newStatus == "Ended" %}
                        {{ serie_link|raw }}est terminé<i class="material-icons ms-1 text-danger text-nowrap">block</i>

                    {% elseif update.newStatus == "Continuing" and update.oldStatus == "Ended" %}
                        Reprise de {{ serie_link|raw }}<i class="material-icons ms-1 text-success">check_circle</i>

                    {% elseif update.newNextAired and update.newStatus != "Upcoming" %}
                        {{ serie_link|raw }}- Le prochain épisode sera {{ dateUpcoming(update.newNextAired, update.nextAiredType) }}
                        {% if update.oldNextAired == null or update.nextAiredType == "year" or update.nextAiredType == "month" or ( update.nextAiredType == null and (update.oldAiredType == "month" or update.oldAiredType == "year") ) %}
                            <i class="material-icons ms-1 text-success">check_circle</i>
                        {% endif %}

                    {% elseif update.newNextAired == null and update.serie.status == "Continuing" and update.oldStatus not in ["Ended", null] %}
                        {{ serie_link|raw }}est en pause<i class="material-icons ms-1 text-warning">hourglass_pause</i>

                    {% elseif update.newStatus == "Upcoming" %}
                        La prochaine saison de {{ serie_link|raw }}a été annoncée
                        {% if update.newNextAired %} pour {{ dateUpcoming(update.newNextAired, update.nextAiredType)|replace({'en ': ''}) }}{% endif %}

                    {% elseif update.newStatus == null and update.oldStatus == null and update.oldNextAired and update.newNextAired == null %}
                        {{ serie_link|raw }}est terminé pour l'instant
                    {% endif %}
                </p>
            {% endfor %}
        </div>
    </div>
</div>