<div class="card col-12 col-lg-11">
    <div class="card-header d-flex justify-content-between">
        <i class="material-icons d-flex align-items-center cursor-click" onclick="changeDate({{ previous }})">arrow_back_ios</i>
        <p class="my-2">Information du {{ date }}</p>
        <i class="material-icons d-flex align-items-center {% if next > 0 %} user-select-none{% else %} cursor-click {% endif %}" {% if next <= 0 %} onclick="changeDate({{ next }})" {% endif %}>arrow_forward_ios</i>
    </div>
    <div class="card col-12">
        <div class="card-body p-0">
            {% for update in updateByDate %}
            <p class="border-bottom m-0 p-2">
                {% if update.newStatus and update.newStatus == "Ended" %}<a class="text-decoration-none text-black"
                                                                            href="{{ path('serie_detail', {id: update.serie.id}) }}">{{ update.serie.name }}</a> est terminé
                {% elseif update.newStatus and update.oldStatus == "Ended" and update.newStatus == "Continuing" %}Reprise de
                    <a class="text-decoration-none text-black"
                       href="{{ path('serie_detail', {id: update.serie.id}) }}">{{ update.serie.name }}</a>
                {% elseif update.newNextAired and update.newStatus != "Upcoming" %}<a
                    class="text-decoration-none text-black"
                    href="{{ path('serie_detail', {id: update.serie.id}) }}">{{ update.serie.name }}</a> - Le prochain épisode sera {{ dateUpcoming(update.newNextAired, update.nextAiredType) }}
                {% elseif update.newNextAired == null and update.serie.status == "Continuing" and update.oldStatus != "Ended" and update.oldStatus != null %}
                <a class="text-decoration-none text-black"
                   href="{{ path('serie_detail', {id: update.serie.id}) }}">{{ update.serie.name }}</a> est en pause
                {% elseif update.newStatus == "Upcoming" %}La prochaine saison de <a
                        class="text-decoration-none text-black"
                        href="{{ path('serie_detail', {id: update.serie.id}) }}">{{ update.serie.name }}</a> à été annoncé{% if update.newNextAired %} pour {{ dateUpcoming(update.newNextAired, update.nextAiredType)|replace({'en ': ''}) }}
                {% elseif update.newStatus == null and update.oldStatus == null and update.oldNextAired and update.newNextAired == null %}<a
                        class="text-decoration-none text-black"
                        href="{{ path('serie_detail', {id: update.serie.id}) }}">{{ update.serie.name }}</a> reviendra
                {% endif %}
            </p>
            {% endfor %}
        </div>
    </div>
</div>