{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}

    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">Mois</th>
            <th scope="col">Anime</th>
            <th scope="col">Série</th>
            <th scope="col">Replay</th>
            <th scope="col">Film</th>
            <th scope="col">Total</th>
        </tr>
        </thead>

        <tbody>
                {% for yearName, year in list %}
            <tr class="table-secondary">
                <th><a class="text-decoration-none text-black" href='{{path("historique_date", {"year": yearName})}}'>{{ yearName }}</a></th>
                <td>{{ year.totalAnime|MsToHM }}</td>
                <td>{{ year.totalSeries|MsToHM }}</td>
                <td>{{ year.totalReplay|MsToHM }}</td>
                <td>{{ year.totalMovie|MsToHM }}</td>
                <td>{{ year.total|MsToHM }}</td>
            </tr>
        </tbody>
        <tbody>
            <div>
            {% for monthName, month in year %}
            {% if 'total' not in monthName and month != [] %}
            <tr>
                <td><a class="text-decoration-none text-black" href='{{path("historique_date", {"year": yearName, "month": month.id})}}'>{{ monthName|capitalize }}</a></td>
                <td>{{ month.anime|MsToHM }}</td>
                <td>{{ month.series|MsToHM }}</td>
                <td>{{ month.replay|MsToHM }}</td>
                <td>{{ month.movie|MsToHM }}</td>
                <td>{{ month.total|MsToHM }}</td>
            <tr>
        {% endif %}
        {% endfor %}
            </div>
        </tbody>
        {% endfor %}
    </table>

{% endblock %}