{% extends 'base.html.twig' %}

{% block title %}{{ serie.name }}{% endblock %}

{% block body %}

    <div class="d-flex flex-lg-row flex-column-reverse justify-content-between p-3">
        <div>
            <h1 class="d-inline">{{ serie.name }}</h1> <a class="d-inline"
                                                          href="{{ path('serie_edit', {'id': serie.id}) }}"><i
                        class="material-icons">edit</i></a>
            <h2>{{ countEpisode }} épisodes vus - {{ totalDuration|MsToHM }} de visionnage total</h2>
            {% if studios != [] %}
                <h3>
                    Studio :
                    {% for studio in studios %}
                        <a class="text-decoration-none text-black"
                           href=" {{ path('serie_company', {'id': studio.id}) }}">{{ studio.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </h3>
            {% elseif networks != [] %}
                <h3>
                    Créer par :
                    {% for network in networks %}
                        <a class="text-decoration-none text-black"
                           href="{{ path('serie_company', {'id': network.id}) }}">{{ network.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </h3>
            {% endif %}
            <br>
            <div class="d-flex flex-column flex-wrap">
                <div class="m-2">
                    <ul>
                        {% if serie.firstAired %}
                            <li data-toggle="tooltip" data-placement="top" title="{{ serie.firstAired|age }}">
                                <strong>Date de sortie du premier épisode : </strong>{{ serie.firstAired|dateFNoDay }}
                            </li>
                        {% endif %}
                        {% if serie.lastAired %}
                            <li data-toggle="tooltip" data-placement="top" title="{{ serie.lastAired|age }}">
                                <strong>Date de sortie du dernier épisode : </strong>{{ serie.lastAired|dateFNoDay }}
                            </li>
                        {% endif %}
                        {% if serie.nextAired %}
                            <li data-toggle="tooltip" data-placement="top" title="{{ serie.nextAired|age }}">
                                <strong>Date de sortie du prochain épisode
                                    : </strong>{% if serie.serieType.name == "Anime" %}{{ dateUpcoming(serie.nextAired, serie.nextAiredType)|replace({'le ': '', 'en ': ''}) }}{% else %}{{ serie.nextAired|dateFNoDay }}{% endif %}
                            </li>
                        {% elseif serie.status == "Continuing" %}
                            <li>
                                <strong>Date de sortie du prochain épisode : </strong> En pause
                            </li>
                        {% elseif serie.status == "Ended" %}
                            <li>
                                <strong>Date de sortie du prochain épisode : </strong> Terminer
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="d-flex flex-row flex-wrap">
                    {% if serie.serieType.name != 'Anime' %}
                        <div class="m-2">
                            <strong>Genre : </strong>
                            <ul>
                                {% for genre in genres %}
                                    <li>{{ genre.nameFra }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% for key, tagType in tagTypes %}
                            <div class="m-2">
                                <strong>{{ key }} : </strong><br>
                                <ul>
                                    {% for tag in tagType %}
                                        <li>{% if tag.nameFra %}{{ tag.nameFra }}{% else %}{{ tag.nameEng }}{% endif %}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="m-2">
                            <strong>Genres : </strong>
                            <ul>
                                {% for genre in animeGenres %}
                                    <li>{{ genre.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="m-2">
                            <strong>Thèmes : </strong>
                            <ul>
                                {% for theme in animeThemes %}
                                    <li>{{ theme.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% set image = infoImage(serie, app.environment) %}
            <a class="btn btn-primary"
               href="{% if idSerie %}{{ path('serie', {'id': idSerie}) }}{% else %}{{ path('serie') }}{% endif %}">Retour</a>
        </div>
        <img src="{{ image.path }}" alt="{{ image.alt }}"
             width="{{ image.width }}px" {% if image.height %}height="{{ image.height }}px"{% endif %} data-bs-toggle="modal"
             data-bs-target="#imageModal" class="cursor-click">
    </div>


    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Saison</th>
            <th scope="col">Épisode</th>
            <th scope="col">Nom de l'épisode</th>
            <th scope="col">Heure de visionnage</th>
        </tr>
        </thead>
        <tbody>
        {% for episode in serie.episodes.values|sort((a, b) => a.saisonNumber != b.saisonNumber ? a.saisonNumber - b.saisonNumber : a.episodeNumber - b.episodeNumber) %}
            <tr>
                <td>Saison {{ episode.saisonNumber }}</td>
                <td>Épisode {{ episode.episodeNumber }}</td>
                <td>{{ episode.name }}</td>
                <td>{{ episode.showDate|dateF }} à {{ episode.showDate|date("H\\hi") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Image en Plein Écran</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center" style="overflow: hidden;">
                    <img src="{{ image.path }}" alt="{{ image.alt }}"
                            style="max-height: calc(100vh - 50px); width: auto; max-width: 100%;">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    <script>
        $(document).ready(function () {
            if ('ontouchstart' in document.documentElement) {
                $('[data-toggle="tooltip"]').on('click', function () {
                    $(this).tooltip('show');
                });
            } else {
                $('[data-toggle="tooltip"]').tooltip();
            }
        });
    </script>

{% endblock %}