{% extends 'base.html.twig' %}

{% block title %}Ajouter une série{% endblock %}

{% block body %}

    <div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
        <div class="card w-50">
            <div class="card-header">
                Ajouter une série
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.tvdbId) }}
                {{ form_row(form.serieType) }}
                <label class="my-2">Genres</label>
                <div class="col-12 d-flex flex-row flex-wrap">
                {{form_widget(form.animeGenres)}}
                </div>
                <label class="my-2">Thèmes</label>
                <div class="col-12 d-flex flex-row flex-wrap">
                {{form_widget(form.animeThemes)}}
                </div>
                {{ form_end(form) }}
                <a class="btn btn-secondary mt-1" href="{{ path('serie_detail', {'id': serie.id}) }}">Retour</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('.select2').select2({
                placeholder: "Ajouter un ou plusieurs genres",
                allowClear: true,
                closeOnSelect: false
            });
        });
    </script>
{% endblock %}
