{% extends 'base.html.twig' %}

{% block title %}Ajouter une série{% endblock %}

{% block body %}

    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="card">
            <div class="card-header">
                Ajouter une série
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                {{form_row(form.name)}}
                {{form_row(form.tvdbId)}}
                {{form_row(form.serieType)}}
        <label class="my-2">Genres</label>
        {% set firstLetter = null %}
        <div class="col-12 d-flex flex-row flex-wrap">
            {% for key, genre in form.animeGenres %}
            {% if genre.vars.label|first != firstLetter %}
                <p class="col-12"><strong>{{ genre.vars.label|first}}</strong></p>
                {% set firstLetter = genre.vars.label|first %}
            {% endif %}
            <div class="col-3">
                {{form_widget(genre)}}
                {{form_label(genre)}}
        </div>
            {% endfor %}
        </div>
        <label class="my-2">Thèmes</label>
        {% set firstLetter = null %}
        <div class="col-12 d-flex flex-row flex-wrap">
            {% for key, theme in form.animeThemes %}
            {% if theme.vars.label|first != firstLetter %}
                <p class="col-12"><strong>{{ theme.vars.label|first}}</strong></p>
                {% set firstLetter = theme.vars.label|first %}
            {% endif %}
            <div class="col-3">
                {{form_widget(theme)}}
                {{form_label(theme)}}
            </div>
            {% endfor %}
        </div>
                {{ form_end(form) }}
                <a class="btn btn-secondary mt-1" href="{{ path('serie_detail', {'id': serie.id}) }}">Retour</a>
            </div>
        </div>
    </div>

{% endblock %}
