{% extends 'base.html.twig' %}

{% block title %}Séries{% endblock %}

{% block body %}

    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col" class="col-lg-8 col-6">Nom</th>
            <th scope="col" class="col-lg-2 col-2">Dernier visionnage</th>
            <th scope="col" class="col-lg-1 col-1">Type</th>
            <th scope="col" class="col-lg-1 col-3">Image</th>
        </tr>
        </thead>
        <tbody>
        {% for serie in series %}
            <tr class="clickable-row cursor-click" data-href="{{ path('serie_detail', {'id': serie.id}) }}">
                <td>{{ serie.name }}</td>
                <td>{% if serie.lastDate %}{{ serie.lastDate|dateFNoDay }}{% else %}Pas de données{% endif %}</td>
                <td>{{ serie.serieType }}</td>
                <td>
                    {% if serie.artwork %}
                        <img src="{% if app.environment == "dev" %}{{ serie.artwork|replace({'/public': ''}) }}{% else %}{{ serie.artwork }}{% endif %}"
                             width="150px" alt="{{ serie.name }} poster">
                    {% else %}
                        <img src="/image/visuel-a-venir.jpg" width="150px" alt="Visuel à venir">
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascript %}
    <script>

        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });

    </script>
{% endblock %}
