{% extends 'base.html.twig' %}

{% block title %}Séries{% endblock %}

{% block body %}

    <div class="mt-4 ms-2 searchDiv">
        <label>Recherche</label>
        <input id="searchBar" type="text" class="form-control" onkeyup="search()">
    </div>

    <div id="divList" class="col-12 d-flex flex-row justify-content-between flex-wrap">

    </div>
    <div id="loadSpin" class="col-12 d-flex flex-row h-75">
        <div class="card-body py-1 py-lg-0 h-100">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>

        $.ajax({
            url: "{{ path('serie_list') }}",
            method: "POST",
            data: {
                'id': {{ id }},
                {% if id < -1 %}
                'company': "{{ companyName }}"
                {% endif %}
            },
            success: function (data) {
                $("#divList").html(data);
                $('#loadSpin').addClass('d-none');
            }
        })

        function search() {

            const text = $('#search').val();

            $.ajax({
                url: "{{ path('serie_list') }}",
                method: "POST",
                data: {
                    'id': {{ id }},
                    'text': text,
                    {% if id < -1 %}
                    'company': "{{ companyName }}"
                    {% endif %}
                },
                success: function (data) {
                    $("#divList").html(data);
                    $('#loadSpin').addClass('d-none');
                }
            })
        }

        function openDetail(href) {
            window.location = href;
        }

    </script>
{% endblock %}
