{% extends 'base.html.twig' %}

{% block title %}Séries{% endblock %}

{% block body %}

    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Type</th>
            <th scope="col">Image</th>
        </tr>
        </thead>
        <tbody>
        {% for serie in series %}
            <tr class="clickable-row cursor-click" data-href="{{ path('serie_detail', {'id': serie.id}) }}">
                <td>{{ serie.name }}</td>
                <td>{{ serie.serieType.name }}</td>
                <td>
    {% if serie.artwork %}
    <img src="{% if app.environment == "dev" %}{{ serie.artwork|replace({'/public': ''}) }}{% else %}{{ serie.artwork }}{% endif %}" width="150px" alt="{{serie.name}} poster">
    {% else %}
    <img src="/image/visuel-a-venir.jpg" width="150px" alt="Visuel à venir">
    {% endif %}
    </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascript %}
<script>

    jQuery(document).ready(function($) {
    $(".clickable-row").click(function () {
        window.location = $(this).data("href");
    });
});

</script>
{% endblock %}
