{% extends 'base.html.twig' %}

{% block title %}{{ mangaTome.manga.name }} - Tome {{ mangaTome.tomeNumber }}{% endblock %}

{% block body %}

    <div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
        <div class="card">
            <div class="card-header">
                Modifier le tome {{ mangaTome.tomeNumber }} de {{ mangaTome.manga.name }}
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_end(form) }}
                <a class="btn btn-secondary mt-1" href="{{ path('manga') }}">Retour</a>
            </div>
        </div>
    </div>

{% endblock %}
