{% extends 'base.html.twig' %}

{% block title %}Statistique{% endblock %}

{% block body %}

    <div class="d-flex flex-column flex-lg-row col-12 h-50">
        <div class="card col-12 h-100">
            <div class="card-header">
                Temps de visionnage par genre
            </div>
            <div class="card-body h-75">
                <div class="h-100 d-flex justify-content-center">
                    <canvas id="myChart1"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column flex-lg-row col-12 h-50">
        <div class="card col-12 h-100">
            <div class="card-header">
                Temps de visionnage par thème
            </div>
            <div class="card-body h-75">
                <div class="h-100 d-flex justify-content-center">
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    <script>

        // Fonction pour convertir les secondes en format "hh:mm"
        function toHHMM(milliseconds) {
            const seconds = Math.floor(milliseconds / 1000);
            const hours = Math.floor(seconds / 3600);
            const minutes = Math.floor((seconds % 3600) / 60);
            return `${hours}h${minutes}min`;
        }

        // Fonction pour convertir les secondes en format "hh:mm"
        function toHH(milliseconds) {
            const seconds = Math.floor(milliseconds / 1000);
            const hours = Math.floor(seconds / 3600);
            return `${hours}h`;
        }

        const ctx1 = document.getElementById('myChart1');

        const chart1 = new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: {{ labelGenreChart | raw }},
                datasets: [{
                    label: 'Temps de visionnage',
                    data: {{ genreChart }},
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        stacked: false,
                        ticks: {
                            stepSize: 180000000,
                            callback: function(value) {
                                return toHHMM(value);
                            }
                        },
                    },
                    x: {
                        stacked: true,
                    }
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                const value = context.parsed.y;
                                const datasetLabel = context.dataset.label || '';
                                return `${datasetLabel}: ${toHHMM(value)}`;
                            }
                        }
                    }
                }
            }
        });

        const ctx2 = document.getElementById('myChart2');

        const chart2 = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: {{ labelThemeChart | raw }},
                datasets: [{
                    label: 'Temps de visionnage',
                    data: {{ themeChart }},
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        stacked: false,
                        ticks: {
                            stepSize: 180000000,
                            callback: function(value) {
                                return toHHMM(value);
                            }
                        }
                    },
                    x: {
                        stacked: true,
                    }
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                const value = context.parsed.y;
                                const datasetLabel = context.dataset.label || '';
                                return `${datasetLabel}: ${toHHMM(value)}`;
                            }
                        }
                    }
                }
            }
        });

        ctx1.onclick = (evt) => {
            const res = chart1.getElementsAtEventForMode(
                evt,
                'nearest',
                { intersect: true },
                true
            );
            // If didn't click on a bar, `res` will be an empty array
            if (res.length === 0) {
                return;
            }

            let route = "{{ path('serie_genre', { name: 'fileId_' }) }}";
            route = route.replace('fileId_', chart1.data.labels[res[0].index]);

            window.location.href = route;
        };

        ctx2.onclick = (evt) => {
            const res = chart2.getElementsAtEventForMode(
                evt,
                'nearest',
                { intersect: true },
                true
            );
            // If didn't click on a bar, `res` will be an empty array
            if (res.length === 0) {
                return;
            }

            let route = "{{ path('serie_theme', { name: 'fileId_' }) }}";
            route = route.replace('fileId_', chart2.data.labels[res[0].index]);

            window.location.href = route;
        };
    </script>

{% endblock %}
