{% extends 'base.html.twig' %}

{% block title %}Statistique{% endblock %}

{% block body %}

    <div class="d-flex flex-column flex-lg-row col-12 h-50">
        <div class="col-12 col-lg-6 h-100">
                <div class="h-100 d-flex justify-content-center">
                    <canvas id="myChart1"></canvas>
                </div>
        </div>
        <div class="col-12 col-lg-6 h-100">
                <div class="h-100 d-flex justify-content-center">
                    <canvas id="myChart2"></canvas>
                </div>
        </div>
    </div>

    <div class="d-flex flex-lg-row flex-column col-12">
        <div class="chart-container col-lg-6 col-12">
            <div>
                <canvas id="myChart3"></canvas>
            </div>
        </div>

        <div class="chart-container col-lg-6 col-12">
            <div>
                <canvas id="myChart4"></canvas>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}

    <script>

        // Fonction pour convertir les secondes en format "hh:mm"
        function toHHMM(milliseconds) {
            const seconds = Math.floor(milliseconds / 1000);
            const hours = Math.floor(seconds / 3600);
            const minutes = Math.floor((seconds % 3600) / 60);
            return `${hours}h${minutes}min`;
        }

        // Fonction pour convertir les secondes en format "hh:mm"
        function toHH(milliseconds) {
            const seconds = Math.floor(milliseconds / 1000);
            const hours = Math.floor(seconds / 3600);
            return `${hours}h`;
        }

        const ctx1 = document.getElementById('myChart1');

        new Chart(ctx1, {
            type: 'pie',
            data: {
                labels: {{ labelGenreChart | raw }},
                datasets: [{
                    label: 'Nombre de tome lu',
                    data: {{ genreChart }},
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    legend: {
                        position: 'bottom',
                        display: false
                    },
                    title: {
                        display: true,
                        text: 'Nombre de tome lu par genre'
                    }
                }
            }
        });

        const ctx2 = document.getElementById('myChart2');

        new Chart(ctx2, {
            type: 'pie',
            data: {
                labels: {{ labelThemeChart | raw }},
                datasets: [{
                    label: 'Nombre de tome lu',
                    data: {{ themeChart }},
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    legend: {
                        position: 'bottom',
                        display: false
                    },
                    title: {
                        display: true,
                        text: 'Nombre de tome lu par thème'
                    }
                }
            }
        });

        const ctx3 = document.getElementById('myChart3');

        new Chart(ctx3, {
            type: 'line',
            data: {
                labels: ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'],
                datasets: [{
                    label: 'Tome commencé',
                    data: {{ tomeStartByDayChart }},
                    backgroundColor: 'rgb(35,255,0)',
                    borderColor: 'rgb(35,255,0)',
                    borderWidth: 1
                },{
                    label: 'Tome terminé',
                    data: {{ tomeEndByDayChart }},
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        stacked: false
                    },
                    x: {
                        stacked: true,
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Temps de visionnage moyen par jour'
                    }
                }
            }
        });

        const ctx4 = document.getElementById('myChart4');

        new Chart(ctx4, {
            type: 'line',
            data: {
                labels: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                datasets: [{
                    label: 'Tome commencé',
                    data: {{ tomeStartByMonthChart }},
                    backgroundColor: 'rgb(35,255,0)',
                    borderColor: 'rgb(35,255,0)',
                    borderWidth: 1
                },{
                    label: 'Tome terminé',
                    data: {{ tomeEndByMonthChart }},
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        stacked: false
                    },
                    x: {
                        stacked: true,
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Temps de visionnage moyen par mois'
                    }
                }
            }
        });
    </script>

{% endblock %}
