{% for game in games %}
    <tr>
        <td class="text-center">
            <a href="{{ path('game_tracker_edit', {'id': game.id}) }}"><i class="metismenu-icon material-icons">visibility</i></a>
            {# <a href="{{ path('game_edit', {'id': game.id}) }}"><i class="metismenu-icon material-icons">edit</i></a> #}
        </td>
        <td><a class="text-decoration-none text-black"
               href="{{ path('game_show', {'id': game.id}) }}">{{ game.name }}</a></td>
        <td>{{ game.serie ? game.serie.name : '' }}</td>
        <td>{{ game.releaseDate ? game.releaseDate|dateFNoDay: '' }}</td>
        {% if game.gameTrackers.getValues != [] %}
            {% set gameTracker = game.gameTrackers[0] %}
            <td>{{ gameTracker.startDate ? gameTracker.startDate|dateF : '' }}</td>
            <td>{{ gameTracker.endDate ? gameTracker.endDate|dateF : '' }}</td>
            <td>{{ gameTracker.endTime ? gameTracker.endTime|SToHM : '' }}</td>
            <td>{{ gameTracker.completeDate ? gameTracker.completeDate|dateF : '' }}</td>
            <td>{{ gameTracker.completeTime ? gameTracker.completeTime|SToHM : '' }}</td>
        {% else %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        {% endif %}
    </tr>
{% else %}
    <tr>
        <td colspan="4">Il n'y as pas encore de jeux</td>
    </tr>
{% endfor %}