{% for gameInfo in gamesInfo %}
    {% set game = gameInfo.entity %}
    {% set image = infoGame(game, app.environment) %}
    <div class="cursor-click container col-lg-2 col-4 px-3 my-4 d-flex flex-column"
         onclick="openDetail('{{ path('game_details', {'id': game.id}) }}')">
        <img class="rounded mx-auto d-block" src="{{ image.path }}" width="150px" alt="{{ image.alt }}"
             onclick="openDetail('{{ path('game_details', {'id': game.id}) }}')" data-bs-toggle="tooltip"
             data-bs-placement="bottom" data-bs-html="true" title="{{ gameInfo.tooltip }}">
        <p class="text-center">{{ game.name }}<br> ({{ game.platforms[0].name|replace({' (Microsoft Windows)': ''}) }})
        </p>
    </div>
{% else %}
    <tr>
        <td colspan="4">Il n'y as pas encore de jeux</td>
    </tr>
{% endfor %}

<script>

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

</script>