{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}

    <div class="d-flex flex-row justify-content-between p-3">
        <div>
            <h1>{{ game.name }} - {{ game.platforms[0].name }}</h1>
            <br>
            <div class="d-flex flex-column flex-wrap">
                <div class="m-2">
                    <strong>Développer par : </strong>
                    <ul>
                        {% for developer in game.developers %}
                            <li>{{ developer.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="m-2">
                    <strong>Éditer par : </strong>
                    <ul>
                        {% for publisher in game.publishers %}
                            <li>{{ publisher.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="m-2">
                    <strong>Mode de jeux : </strong>
                    <ul>
                        {% for mode in game.modes %}
                            <li>{{ mode.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="m-2">
                    <strong>Genres : </strong>
                    <ul>
                        {% for genre in game.genre %}
                            <li>{{ genre.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="m-2">
                    <strong>Thèmes : </strong>
                    <ul>
                        {% for theme in game.themes %}
                            <li>{{ theme.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <img {% if game.cover %} src="{{ game.cover }}" alt="{{ game.name }} poster" {% else %} src="/image/visuel-a-venir.jpg" alt="Visuel à venir" {% endif %}
                width="auto" height="500px" data-bs-toggle="modal" data-bs-target="#imageModal" class="cursor-click">
    </div>
{% endblock %}
