{% extends 'base.html.twig' %}

{% block title %}GameDeveloper{% endblock %}

{% block body %}
    <h1>GameDeveloper</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game_developer.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ game_developer.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('game_develope') }}">back to list</a>

    <a href="{{ path('game_developer_edit', {'id': game_developer.id}) }}">edit</a>

    {{ include('game/game_developer/_delete_form.html.twig') }}
{% endblock %}
